main{
    background: $color-background;
}
// CTA
.CTA{
    min-height: 60vh;
    background-image:linear-gradient(rgba(171, 173, 174, 0.7),rgba(171, 171, 171, 0.7)),url(../image/CTA.png);
    text-align: center;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p{
        font-size:1rem;
        margin: auto;
    }
    button{
        width: 8rem;
        height: 2rem;
        border: none;
        background: $color-button-pink;
        color: rgb(255,255,255);
        margin-top: 1rem;
    }
}
  


// Nyheter
h2{
    margin: 3rem 0 2rem 2rem;
    font-weight: 600;
}
    .nyheter{
        // min-height: 150vh;
        .kläder-bild{
            // border: 1px solid lightgray;
            background: rgb(255, 255, 255);
            border-radius: 10px;
            padding: 20px;
        }
        .nyheter-wrapper{
            min-width: 30vh;
            @include container (row,center,center);
            gap:1.5rem;
            flex: 1;
        }
      
        h3{
            margin-bottom:0;
            font-size: 0.8rem;
        }
        h3+p{
            margin: 0.3rem 0 0 0;
            font-size: 0.8rem;
        }
        .row{
            @include container(row,space-between,center);
        }
        .row p{
            font-size: 1.2rem;
            color: $color-button-pink;
        }
    }
    
    



@media (min-width:1080px){
    main{
        width: 70%;
        margin: auto;

// CTA
    .CTA{
        h1{
            font-size: 2.2rem;
            text-align: center;
            margin: auto;
        }
        
        button{
            border: 1px solid black;
            background: transparent;
            color: rgb(8, 8, 8);
        }

        button:hover{
            border: 1px solid $color-button-pink;
            background: $color-button-pink;
            transition: 1s;
        }
    }

// Nyheter
    .kläder-bild{
        width: 200px;
    }
    }
}