
@mixin container ($flexDirection,$justifyContent,$alignItems){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: wrap;
}
@mixin social-media-footer-mixin{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buttonphone{
    width: 8rem;
    height: 2rem;
    border: none;
    background: $color-button-pink;
    color: rgb(255,255,255);
    margin-top: 1rem;
}

@mixin buttonframe{
    width: 8rem;
    height: 2rem;
    border: 1px solid black;
    background: none;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    border-radius:15px ;

}
@mixin buttondesktop{
    border: 1px solid black;
    background: transparent;
    color: rgb(8, 8, 8);
}
@mixin buttondesktophover{
    border: none;
    background-color: $color-button-pink;
    color: white;
    transition: 1s;
    cursor:pointer;
}

