
@mixin container ($flexDirection,$justifyContent,$alignItems){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: wrap;
}
@mixin social-media-footer-mixin{
    display: flex;
    justify-content: center;
    align-items: center;
}