
//Vi kan ändra allt detta. Jag har bara satt upp förslag på variabler som kan vara bra att vi anväder


$primaryfontFamily: 'Poppins', sans-serif

//Primary and theme/accent colour. Om du, Shishi,  hellre vill 
//använda orden Primary och accent color så kan vi ändra 

$color-background: rgb(242, 242, 242); // vit bakgrund
$color-primary: rgb(228, 215, 215); // Bakgrund för body?
$color-footer: rgb(140, 140, 140) ;//Footer bakgrund 
$color-button-pink:rgb(184, 118, 121) ; // Förslag till knappfärg vid ev hover
$color-button-blue:rgb(83, 100, 162) ; // Förslag till knappfärg vid ev hover


//Nedladd fontfamily 
//font-family: 'Poppins', sans-serif;
//font-family: 'Raleway', sans-serif;