




$primaryfontFamily: 'Poppins', sans-serif;
//bakgrundsfärger

$color-background: rgb(242, 242, 242); // vit bakgrund
$color-primary: rgb(228, 215, 215); // Bakgrund för body?
$color-footer: rgb(140, 140, 140) ;//Footer bakgrund 
$color-button-pink:rgb(184, 118, 121) ; // Förslag till knappfärg vid ev hover
$color-button-blue:rgb(83, 100, 162) ; // Förslag till knappfärg vid ev hover




