@charset "UTF-8";
header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
}

.navbar {
  min-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container {
  position: absolute;
  background: rgb(255, 255, 255);
  height: 70vh;
  width: 300px;
  top: 0;
  right: -500px;
  text-align: left;
  transition: 1s;
}

.container ul li {
  display: block;
  text-transform: uppercase;
  padding: 1rem 0;
}

li img {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.navbar .fa {
  display: block;
  color: #000000;
  margin: 1.875rem;
  padding: 0 1.25rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (min-width: 1080px) {
  header {
    width: 70%;
    margin: auto;
  }
  .navbar .fa {
    display: none;
  }
  .container {
    z-index: 2;
    position: static;
    background: none;
    height: -moz-fit-content;
    height: fit-content;
    width: 600px;
    text-align: right;
  }
  li img {
    display: inline-block;
  }
  .container ul {
    display: flex;
    justify-content: space-between;
  }
  .container ul li {
    display: inline-block;
    list-style: none;
    font-size: 1rem;
  }
  a:hover {
    color: rgb(184, 118, 121);
    font-weight: 400;
  }
}
footer {
  min-height: 30vh;
  background-color: rgb(198, 198, 198);
}
footer .logo_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer_list {
  list-style-type: none;
  font-size: 1rem;
}
footer li {
  padding: 5px 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
footer .footer-logo {
  width: 250px;
  margin: auto;
}
@media (min-width) {
  footer .footer-logo {
    display: flex;
  }
}
footer .social-media-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
footer .social-media-footer h5 {
  font-size: 1rem;
  color: black;
  margin: 0 25px;
  text-transform: uppercase;
}
footer .social-media-footer a {
  padding: 1.5%;
}
footer .copyright-footer {
  padding-bottom: 30px;
}
footer .copyright-footer p {
  text-align: center;
  font-size: 0.75rem;
}

@media (min-width: 1080px) {
  footer {
    width: 70%;
    margin: auto;
  }
  footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer li {
    font-size: 1rem;
    padding: 15px;
  }
  footer .del {
    width: 800px;
    padding-right: 35px;
  }
  footer .logo_footer img {
    width: 200px;
  }
  footer .logo_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
  }
  footer .footer-list-wraper {
    display: flex;
  }
  footer .footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    font-size: 1.2rem;
  }
  footer .social-media-footer {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-left: 16px;
  }
  footer .social-media-footer h5 {
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }
  footer .two {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .copyright-footer {
    text-align: end;
  }
  footer .copyright-footer p span {
    color: black;
  }
  footer .poweredby-footer {
    margin-bottom: 0px;
  }
}
.CTA {
  min-height: 60vh;
  background-image: linear-gradient(rgba(171, 173, 174, 0.6), rgba(171, 171, 171, 0.6)), url(../image/CTA.png);
  text-align: center;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CTA p {
  font-size: 1rem;
  margin: auto;
}
.CTA button {
  width: 8rem;
  height: 2rem;
  border: none;
  background: rgb(184, 118, 121);
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}

h2 {
  margin: 3rem 0 3rem 1.5rem;
  font-weight: 600;
}

.nyheter .kläder-bild {
  border-radius: 10px;
  width: 160px;
}
.nyheter .nyheter-wrapper {
  padding: 0 5%;
  min-width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.nyheter h3 {
  margin-bottom: 0;
  padding: 0;
  font-size: 0.8rem;
  max-width: 240px;
}
.nyheter h3 + p {
  margin: 0.3rem 0 0 0;
  font-size: 0.8rem;
  max-width: 240px;
}
.nyheter .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 240px;
}
.nyheter .row p {
  font-size: 1.2rem;
  color: rgb(184, 118, 121);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.recensioner-container {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 5%;
  box-sizing: border-box;
}
.recensioner-container .recensioner-wrapper {
  flex-basis: 30%;
  border-radius: 20px;
  background-color: rgb(242, 242, 242);
  padding: 3%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recensioner-container .recensioner-wrapper .recensioner-row {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.recensioner-container .recensioner-wrapper .recensioner-row p {
  text-align: center;
  font-size: 0.9rem;
}
.recensioner-container .recensioner-wrapper .recensioner-row div {
  padding: 25px 0 30px 0;
}
.recensioner-container .recensioner-wrapper .kunder {
  width: 60px;
  background-color: #d9d9d9;
  border-radius: 70px;
}
.recensioner-container .recensioner-wrapper .kunder + p {
  font-weight: 500;
}

.kontakta {
  background-image: linear-gradient(rgba(171, 173, 174, 0.7), rgba(171, 171, 171, 0.7)), url(../image/kontakta.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  margin: 70px 0;
}
.kontakta div {
  width: 300px;
  text-align: center;
}
.kontakta div h2 {
  margin: 0;
  font-size: 1.2rem;
}
.kontakta div h3 {
  margin: 0;
}
.kontakta div button {
  width: 8rem;
  height: 2rem;
  border: none;
  background: rgb(184, 118, 121);
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}

.about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .about-container h2 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}
.about .about-container h3 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}
.about .about-container .about-wrapper {
  background: rgb(242, 242, 242);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 0 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.about .about-container .about-wrapper .personaler {
  height: 300px;
  padding: 20px 0;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about .about-container .about-wrapper .personaler img {
  border-radius: 60px;
  margin-bottom: 20px;
}
.about .about-container .about-wrapper .personaler h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.about .about-container .about-wrapper .personaler p {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.about .about-container .about-wrapper .personaler button {
  width: 8rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
  margin-top: 1rem;
}

@media (min-width: 1080px) {
  main {
    width: 70%;
    margin: auto;
  }
  .CTA {
    min-height: 70vh;
  }
  .CTA h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: auto;
  }
  .CTA button {
    border: 1px solid black;
    background: transparent;
    color: rgb(8, 8, 8);
  }
  .CTA button:hover {
    border: 1px solid rgb(184, 118, 121);
    background: rgb(184, 118, 121);
    transition: 1s;
    cursor: pointer;
  }
  .nyheter .nyheter-wrapper {
    padding: 0;
  }
  .nyheter h2 {
    margin-left: 0;
  }
  .nyheter .kläder-bild {
    width: 240px;
  }
  .recensioner-container {
    flex-direction: row;
    padding: 0;
  }
  .recensioner-container .recensioner-wrapper .recensioner-row p {
    font-size: 0.8rem;
  }
  .recensioner-container .recensioner-wrapper:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    background-color: #fbeded;
    transition: 1s;
    cursor: pointer;
  }
  .kontakta {
    padding: 0 5%;
  }
  .kontakta div {
    width: 350px;
    padding: 12% 3%;
    box-sizing: border-box;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .kontakta div p {
    font-size: 0.75rem;
  }
  .kontakta div button {
    border: 1px solid black;
    background: transparent;
    color: rgb(8, 8, 8);
  }
  .kontakta div button:hover {
    border: 1px solid rgb(184, 118, 121);
    background: rgb(184, 118, 121);
    transition: 1s;
    cursor: pointer;
  }
  .about {
    margin: 30px 0 100px 0;
  }
  .about .about-wrapper {
    justify-content: space-between;
  }
  .about .about-wrapper .personaler h4 {
    font-size: 0.5rem;
  }
  .about .about-wrapper .personaler p {
    font-size: 0.8rem;
  }
  .about .about-wrapper .personaler button:hover {
    background: rgba(184, 118, 121, 0.5);
    transition: 1s;
    border: none;
    cursor: pointer;
  }
}
.about-us-headtext {
  background-color: rgb(242, 242, 242);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.about-us-headtext .h2about-us-text {
  margin: 10px 20px;
  font-size: 2rem;
}
.about-us-headtext .h3about-us-text {
  width: 70%;
  font-size: 1rem;
  margin: 10px 20px;
  font-weight: 300;
}
@media (min-width: 1080px) {
  .about-us-headtext .h3about-us-text {
    width: 70%;
  }
}

.employee-wrapper {
  display: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1080px) {
  .employee-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .employee-wrapper .employee1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .employee-wrapper .about-first-name {
    font-size: 1rem;
  }
  .employee-wrapper .about-email {
    margin-bottom: 50px;
  }
}

.about-img {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.about-us-medarbetare {
  background-color: rgb(242, 242, 242);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}
.about-us-medarbetare .h2medarbetar-rubrik {
  margin: 0px 10px;
  font-size: 1.5rem;
  color: gray;
}

.h3medarbetare-text {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 0px;
}

.about-profession {
  margin-top: 0px;
  font-size: 1rem;
}

.about-prfession-text {
  font-size: 0.9rem;
  font-weight: 300;
}

.employeebutton {
  width: 8rem;
  height: 2rem;
  border: 1px solid black;
  background: none;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  border-radius: 15px;
  margin-top: 0;
  margin-bottom: 70px;
}

.employee {
  background-color: rgb(242, 242, 242);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.employee .employee1 img {
  border-radius: 70px;
}
.employee .about-first-name {
  font-size: 2rem;
  margin-top: 41px;
  margin-left: 0px;
}
.employee .about-profession {
  font-size: 0.9;
  color: gray;
}
.employee .employeebutton:hover {
  border: none;
  background-color: rgb(184, 118, 121);
  color: white;
  transition: 1s;
}

.produkter-CAT {
  min-height: 70vh;
  background-image: linear-gradient(rgba(171, 173, 174, 0.4), rgba(171, 171, 171, 0.4)), url(../image/produkt-background.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.produkter-nyheter {
  min-height: 60vh;
  height: 100px;
  background-image: linear-gradient(rgba(171, 173, 174, 0.4), rgba(171, 171, 171, 0.4)), url(../image/produkter-nyheter.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}
.produkter-nyheter div h2 {
  margin: auto;
  color: rgb(255, 255, 255);
}
.produkter-nyheter button {
  width: 8rem;
  height: 2rem;
  border: none;
  background: rgb(184, 118, 121);
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}

.recensioner-CTA {
  min-height: 70vh;
  background-image: linear-gradient(rgba(171, 173, 174, 0.4), rgba(171, 171, 171, 0.4)), url(../image/referenser-background.jpeg);
  text-align: center;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recensioner-button {
  width: 8rem;
  height: 2rem;
  border: none;
  background: rgb(184, 118, 121);
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  border: 1px solid black;
  background: transparent;
  color: rgb(8, 8, 8);
  margin: 8% 0 8% 33%;
}

@media (min-width: 1080px) {
  .recensioner-button {
    margin-left: 45%;
  }
  .recensioner-button:hover {
    background-color: rgba(184, 118, 121, 0.5);
    transition: 1s;
    cursor: pointer;
  }
}
.main-container {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
}
.main-container .content {
  display: flex;
  font-size: 1rem;
  justify-content: center;
}
.main-container .text-one,
.main-container .text-two {
  text-align: center;
}
.main-container .email,
.main-container .details {
  padding-bottom: 15px;
}
.main-container .topic {
  font-weight: 600;
  margin: 14px;
  text-align: center;
}
@media (min-width: 1080px) {
  .main-container {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
  }
}

.right-side {
  background-color: rgb(242, 242, 242);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.topic-text {
  color: rgb(1, 1, 1);
  padding-bottom: 5px;
}

h3 {
  font-size: 2rem;
  padding-bottom: 20px;
  margin-top: 45px;
  margin-bottom: 0px;
}

h4 {
  font-size: 1rem;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1080px) {
  h4 {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

form {
  justify-content: center;
  margin: 60px;
  outline: none;
}

.input-box {
  margin: 25px;
}

input[type=text],
textarea {
  width: 20rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  outline: none;
  padding: 10px;
  outline-width: 1px;
  resize: none;
}
@media (min-width: 1080px) {
  input[type=text],
  textarea {
    background-color: rgb(252, 252, 252);
    font-size: 1rem;
    border-radius: 3px;
    text-align: center;
    width: 20rem;
  }
}

.submit [type=text],
textarea {
  text-align: center;
  width: 20rem;
  height: 20rem;
}
@media (min-width: 1080px) {
  .submit [type=text],
  textarea {
    width: 30rem;
    height: 10rem;
  }
}

.button input[type=button] {
  border: 1px solid black;
  background: transparent;
  color: rgb(8, 8, 8);
  width: 8rem;
  height: 2rem;
  border: 1px solid black;
  background: none;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  border-radius: 15px;
}

@media (min-width: 1080px) {
  .button input[type=button]:hover {
    border: none;
    background-color: rgb(184, 118, 121);
    color: white;
    transition: 1s;
    cursor: pointer;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1080px) {
  .left-side {
    background-color: rgb(242, 242, 242);
    margin: 50px 40px;
  }
  .left-side .topic {
    margin: 11%;
    font-size: 1.5rem;
    color: black;
  }
}

.text-one:last-child {
  margin-bottom: 2rem;
}

body {
  margin: auto;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=style.css.map */