@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/index-content";
@import "partials/about-content";
@import "partials/produkter-content";
@import "partials/recesioner-content";
@import "partials/kontakta-content";

body{
    // border: 2px solid red;
    background:rgb(140, 140, 140);
    margin: auto;
    width: 1080px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

