@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/index-content";
@import "partials/about-content";
@import "partials/produkter-content";
@import "partials/recesioner-content";
@import "partials/kontakta-content";

body{
    // border: 2px solid red;
    // background:rgb(140, 140, 140);
    margin: auto;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

